{{user.firstname}} {{user.lastname}},

{{domain}} wants to validate your account:
{{wallet}}

I've accepted {{appName}} terms of service: {{tos}}

URI: {{publicUrl}}
Nonce: {{nonce}}
Issued At: {{createdAt}}
Expiration Time: {{expiresAt}}